p {
    /*Chapter 4 font-family
    Font-family is a list of fonts for the brower to use. Starting with the main one you want and ends with a generic font to let the browser pick a similiar font,
    if no other fonts are available*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Chapter 6 font-size
    can be specified in %,px or em*/
    font-size: 1.2em;
}

p.important { /*Chapter 7 - css classes classes are specified by "." */
    font-size: 1.5em;
    /*Chapter 9 - font-weight
    Makes the font BOLD. Range from 100 - 900 Works with words as well: lighter,normal,bold,bolder */
    font-weight: 900;
}

.special { /*Chapter 8 - classes not tied to element */
    font-size: 2.5em;
}

.emphasized { /*Chapter 10 - font-style*/
    font-style: italic;
}

/*Chapter 12 - colors 
https://www.webfx.com/web-design/color-picker for color hex values*/
.red{
    color: #cc0000;
}